* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    }

.boxHead{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #f7f8f8;

    & .container{
        display: flex;
        background-color: #f7f8f8;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    & .container img{
        max-height: 5rem;
        max-width: auto;
        justify-content: center;
        align-content: center;
        margin-left: 10%;
    }

    & .container ul{
        display: flex;
        list-style: none;
        margin-left: auto;
        padding: 0;
        
    }

    & .container li{
        padding: 0 1.25rem;
        background-color: rgb(253, 255, 106);
        border: 1px rgb(203, 206, 36) solid;
        height: 80px;
        width: 200px;
        margin: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 15% 15% 15% 16% / 50% 50% 50% 50%;
        align-content: center;
        text-align: center;
    }

    & a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    & a:hover{
        text-decoration: underline;
    }
}

.boxMain{
    position: relative;
    display: flex;
    background-color: white;
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px black solid;
    border-radius: 1% / 1.5%;
}

.boxFoot{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #f7f8f8;
    & p{
        display: flex;
        padding: 2rem;
        align-self: center;
        justify-content: center;
    }
}